/* reset meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{ margin: 0; }

/* grid */
.container {
  padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto;
}
.container::after {
  display: table;
  clear: both;
  content: "";
}
@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.img-responsive{
	display: inline-block;
	max-width: 100%;
	height: auto;
}

/* fonts */
@font-face {
  font-family: 'Museo300';
  src: url('fonts/MuseoSansCyrl300.eot');
  src: url('fonts/MuseoSansCyrl300.eot') format('embedded-opentype'),
       url('fonts/MuseoSansCyrl300.woff2') format('woff2'),
       url('fonts/MuseoSansCyrl300.woff') format('woff'),
       url('fonts/MuseoSansCyrl300.ttf') format('truetype'),
       url('fonts/MuseoSansCyrl300.svg#MuseoSansCyrl300') format('svg');
}
@font-face {
  font-family: 'Museo500';
  src: url('fonts/MuseoSansCyrl500.eot');
  src: url('fonts/MuseoSansCyrl500.eot') format('embedded-opentype'),
       url('fonts/MuseoSansCyrl500.woff2') format('woff2'),
       url('fonts/MuseoSansCyrl500.woff') format('woff'),
       url('fonts/MuseoSansCyrl500.ttf') format('truetype'),
       url('fonts/MuseoSansCyrl500.svg#MuseoSansCyrl500') format('svg');
}
@font-face {
  font-family: 'Museo700';
  src: url('fonts/MuseoSansCyrl700.eot');
  src: url('fonts/MuseoSansCyrl700.eot') format('embedded-opentype'),
       url('fonts/MuseoSansCyrl700.woff2') format('woff2'),
       url('fonts/MuseoSansCyrl700.woff') format('woff'),
       url('fonts/MuseoSansCyrl700.ttf') format('truetype'),
       url('fonts/MuseoSansCyrl700.svg#MuseoSansCyrl700') format('svg');
}
@font-face {
  font-family: 'Museo900';
  src: url('fonts/MuseoSansCyrl900.eot');
  src: url('fonts/MuseoSansCyrl900.eot') format('embedded-opentype'),
       url('fonts/MuseoSansCyrl900.woff2') format('woff2'),
       url('fonts/MuseoSansCyrl900.woff') format('woff'),
       url('fonts/MuseoSansCyrl900.ttf') format('truetype'),
       url('fonts/MuseoSansCyrl900.svg#MuseoSansCyrl900') format('svg');
}

/* animation */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

body{
	font-family: 'Museo300', sans-serif;
	color: #fff;
}

.header_style{
	font-family: 'Museo700', sans-serif;
}
.orange_title{
	font-size: 46px;
	line-height: 52px;
	font-family: 'Museo900', sans-serif;

	background: #e8b651;
	background: -moz-linear-gradient(top, #e8b651 0%, #d99e29 61%, #d99e29 61%);
	background: -webkit-linear-gradient(top, #e8b651 0%,#d99e29 61%,#d99e29 61%);
	background: linear-gradient(to bottom, #e8b651 0%,#d99e29 61%,#d99e29 61%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8b651', endColorstr='#d99e29',GradientType=0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_style{
	font-size: 18px;
	color: #ffffff;
	line-height: 28px;
}
.align_center{
	text-align: center;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}

/* buttons */
.border_btn{
	display: block;
	width: 54px;
	height: 44px;
	text-align: center;
	cursor: pointer;

	border: 2px solid #dda534;

	-webkit-border-radius: 3px;
	border-radius: 3px;
}
	.border_btn img{
		margin-top: 11px;
	}
	#share_btn img{
		width: 18px;
		height: 20px;
	}
	.border_btn.close_menu img{
		margin-top: 9px;
	}

.btn_bg{
	color: #353535;
	font-family: 'Museo700', sans-serif;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;

	border-radius: 3px;
	
	background: #d99e29;
	background: -moz-linear-gradient(45deg,  #d99e29 0%, #eec061 100%);
	background: -webkit-linear-gradient(45deg,  #d99e29 0%,#eec061 100%);
	background: linear-gradient(45deg,  #d99e29 0%,#eec061 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d99e29', endColorstr='#eec061',GradientType=1 );
}

/* popUp */
#popUp{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .9);
	z-index: 10;
	padding: 40px;
	display: none;
}
#popUp .popup_content{
	display: flex;
  	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	height: 100%;

	text-align: center;
}

/* menu */
#menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 400px;
	height: 100%;
	background-color: rgba(0,0,0, .85);
	z-index: 10;
	padding: 40px;
	display: none;
}
#menu .menu_content{
	display: flex;
  	flex-direction: column;
	justify-content: space-between;

	height: 100%;
}
#menu a{
	-webkit-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}
#menu nav{
	font-size: 20px;
	line-height: 80px;
	color: #fff;
}
	#menu li {
		border-top: 1px solid #1d1c1c;
	}
		#menu li:first-child{
			margin-top: 0;
		}
	#menu nav a{
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Museo500', sans-serif;
	}
	#menu nav a:hover{
		color: #eec061;
	}
#menu .socials a{
	display: inline-block;
	width: 55px;
	height: 55px;
	line-height: 55px;
	border-radius: 50%;
	margin-right: 15px;

	border: 1px solid rgba(255,255,255, .2);
	text-align: center;
	color: #fff;
	text-decoration: none;
}
	#menu .socials a:hover{
		border: 1px solid rgba(255,255,255, 1);
	}

/* header */
#header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 95px;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#header .logo{
	display: block;
	margin-right: -168px;
}
#header .btn_bg{
	width: 168px;
	height: 44px;
	margin-left: 15px;
	line-height: 44px;
}

/* first slide */
section.first{
	background: url('images/slide_1_bg.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
}
	section.first .man{

	}
	section.first .container{
		padding-top: 120px;
		display: flex;
	    flex-direction: column;
	    height: 100%;
	    justify-content: space-around;
	}
	section.first .top{
	}
	section.first .middle{

	}
	section.first .bottom div{
		float: left;
		margin-right: 40px;
	}

/* second slide */
section.second{
	background: url('images/slide_2_bg.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
}

/* third slide */
section.third{
	background-color: blue;
}
	section.third .item{
		float: left;
		width: calc(100%/3);
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: space-around;

		text-align: center;
	}
		section.third .item img{
			width: 33%;
			margin: 80px auto;
		}

		section.third .item.sport{
			background: url('images/sport_bg.jpg') no-repeat 50% 0;
			-webkit-background-size: cover;
			background-size: cover;
		}
		section.third .item.tactical{
			background: url('images/tactical_bg.jpg') no-repeat 50% 0;
			-webkit-background-size: cover;
			background-size: cover;
		}
		section.third .item.elite{
			background: url('images/elite_bg.jpg') no-repeat 50% 0;
			-webkit-background-size: cover;
			background-size: cover;
		}
	section.third .name{
		text-transform: uppercase;
		line-height: 60px;
	}
	section.third .name span{
		font-size: 28px;
		color: #fff;
	}
	section.third .name p{
		font-size: 50px;
		font-family: 'Museo900', sans-serif;
	}

/* four slide */
section.four{
	background: url('images/slide_4_bg.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
}

.test{
	height: 90%;
	margin: 2%;
	float: right;
	width: 250px;
	margin-right: 250px;
	overflow-y: auto;
}